
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
  scroll-behavior: auto;
}
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled {
  background: rgba(40, 58, 90, 0.9);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}


#header .logo img {
  max-height: 50px;
  margin-right: 6px;
}

.header .logo {
  line-height: 0;
}



@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ddd7dd;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #4154f1;
}




@media (max-width: 1366px) {

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}


.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #37517e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #47b2e4;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 58, 90, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}


/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: #37517e;
}


#home h2 {
  margin: 0;
  font-size: 36px;
  color: #f3f4fd;
  padding-top: 250px;
  text-align: right;
  line-height: 56px;
}


#home .home-img {
  padding-top: 150px;
}

#home .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@media (min-width: 1024px) {
  .home {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .home {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .home .home-img {
    text-align: center;
    margin-top: 80px;
  }
  .home .home-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {

  .home h2 {
    font-size: 32px;
  }
  
  .home .home-img img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .home h2 {
    text-align: center;
  }
  
  .home-img img {
    width: 80%;

  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}


.section-title h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h1::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h2 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  padding-top: 50px;
  color: #111;
  padding-left: 50px;
  padding-right: 50px;
 
}

.about h3 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding-top: 25px;
  color: #111;
  text-decoration: underline;
}

.about h4 {
  text-align: center;
}


.about p {

  line-height: 30px;
  text-align:center;
  padding-top: 15px;
  color: #111;
  font-size: 30px;
}

.about img {
  padding-top: 50px;
}

.about .row img {
  width: 100%;
}


/*--------------------------------------------------------------
# join
--------------------------------------------------------------*/

.join {
  background-color: #f6f9ff;
  padding: 40px;
}
.join .team {
  width: 100%;
  height: 100vh;
  background: url(../images/healthy.jpg) top center no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.join h3 {
  font-size: 24px;
  color: #18181a;
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
}

.join h2 {
  font-size: 45px;
  color: #141414;
  text-align: center;
  padding-top: 20px;

}

.join ul {
  text-align: justify;
  padding-left:300px;
  font-size: 24px;
  color: #0e3374;
}


.join p {
  margin: 60px 60px 60px 70px;
  font-size: 100px;
  font-style: italic;
  color: #fff;
  padding-top: 0px;
}
.like  p {
  color: #0e3374;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  padding-top: 0px;

}
.live p h1 {
  color:#111;
  
}
@media (max-width: 575px) {
  
  .like p{
    text-align: center;
  }
}
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact  {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}
.contact h2 {
  color: #050614;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.contact h3 {
  text-align: center;
  color: #151516;
  font-size: 30px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}


.contact .spain {
  width: 100%;
  height: 100vh;
  background: url(../images/spain.jpg) top center no-repeat;
  line-height: 50px;
  background-size: cover;
  color: #111113;
  padding-top: 80px;
  font-weight: bold;
}

.contact .germany {
  width: 100%;
  height: 100vh;
  background: url(../images/germany.jpg) top center no-repeat;
  background-size: cover;
  color: #111113;
  padding-top: 80px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  
  
}

.contact .netherland {
  width: 100%;
  height: 100vh;
  background: url(../images/nertherland6.jpg) top center no-repeat;
  background-size: cover;
  color: #111;
  padding-top: 80px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.contact .italy {
  width: 100%;
  height: 100vh;
  background: url(../images/italy3.jpg) top center no-repeat;
  background-size: cover;
  color: #111;
  padding-top: 80px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}

.blog {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog p {
  line-height: 24px;
}

.blog .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .read-more a {
  display: inline-block;
  background: #4154f1;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog .read-more a:hover {
  background: #5969f3;
}

.blog  h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-html {
  font-size: 36px;
  background-color:#73c5eb;
  padding-left: 30px;
  padding-right: 30px;

}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}


@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
